.navbar-config {
  a {
    font-size: 1rem;
    color: var(--bs-white);
  }

  .logo-default, .icon-search-default  {
    display: none;
  }

  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  .section-logo {
    border-bottom: .5px solid var(--bs-grey-100);
  }

  &.navbar-scrolled {
    background-color: var(--bs-white);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-bottom: 1px solid #f9f9f9;

    .logo-white, .icon-search-white {
      display: none;
    }

    .logo-default, .icon-search-default  {
      display: inline-flex;
    }

    a {
      color: var(--bs-grey-300);
    }
  }
}