.navbar-config {
  a {
    font-size: 1rem;
    color: var(--bs-white);
  }

  .logo-default, .icon-search-default  {
    display: none;
  }

  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease, background-position 0.3s ease;

  transform: translateY(0);

  .section-logo {
    border-bottom: .5px solid var(--bs-grey-100, 0.5);
    //border-bottom: .5px solid #f9f9f9;
  }

  &.navbar-scrolled {
    background-color: var(--bs-white);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-bottom: 1px solid #f9f9f9;
    //border-bottom: 1px solid rgba(249, 249, 249, 0.4);

    .logo-white, .icon-search-white {
      display: none;
    }

    .logo-default, .icon-search-default  {
      display: inline-flex;
    }

    a {
      color: var(--bs-grey-300);
    }
  }

  &.position-fixed {
    //transform: translateY(-80px);
    transform: translateY(0);
  }
}